body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
}

    header nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        header nav ul li {
            display: inline;
            margin: 0 10px;
        }

            header nav ul li a {
                color: white;
                text-decoration: none;
            }

.hero {
    background: url('https://i.postimg.cc/wjMRBhTg/background.jpg') no-repeat center;
    background-size: cover;
    padding: 100px 30px;
}

    .hero h1 {
        margin: 0;
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.2em;
        margin: 10px 0 0;
    }

main {
    padding: 20px;
    text-align: left;
}

    main .about, main .skills, main .technologies {
        margin: 20px 0;
    }

        main .about .about-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
        }

        main .about img.avatar {
            width: 700px;
            height: auto;
            margin-bottom: 20px;
        }

    main .skills, about.technologies ul {
        text-align: left;
        margin: 10px 20px;
        max-width: 400px;
    }

        main .skills button, main .technologies button {
            display: block;
            margin: 10px 20px;
            padding: 10px 20px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
}

    table th, .skills-table td {
        padding: 12px 15px;
        border: 1px solid black;
    }

    table th {
        border: 1px solid black;
        padding: 10px;
        background-color: black;
        color: white;
        text-align: center;
    }

    table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    table tr:hover {
        background-color: #f1f1f1;
    }

.skills-table tbody .overall-level {
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.back-button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    transition-duration: 0.4s;
}

    .back-button:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
    }

.login-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 1px;
    position: absolute;
    top: 50px;
    right: 20px;
}

    .login-button:hover {
        background-color: #333;
    }

.contact-form {
    background-color: #2b2b2b;
    color: white;
    width: 300px;
    margin: 100px auto;
    padding: 100px;
    border-radius: 10px;
}

.contact-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 1px;
    position: absolute;
    top: 5px;
    right: 20px;
}

    .contact-button:hover {
        background-color: #333;
    }
.contact-form-container {
    background-color: black;
    color: white;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

    .contact-form-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-form-container label {
        display: block;
        margin-bottom: 10px;
    }
